# Validation problem exist

In [4]:
#FOR LOOP

print("Will display number from 1 to 5")
for num in[1,2,3,4,5]:
     print(num, end=' ')  #BY USING END='' WE CAN GET OUTPUT IN ONE LINE instead of new lines

Will display number from 1 to 5
1 2 3 4 5

In [10]:
for num in range(1,10,1):
    print(num)   #WE CAN ALSO ADD STEP VALUE HERE LIKE THIS(NUM+1)

1
2
3
4
5
6
7
8
9
10

# Table through for loop

In [6]:
table=int(input("which number table do you want:"))
start=int(input("from where should i start: "))
end=int(input("how high should i go: "))

for number in range(start,end+1,1):
    table1=number*table
    print(number,"x",table,"=",table1)

which number table do you want:-9
from where should i start: 5
how high should i go: 10
5 x -9 = -45
6 x -9 = -54
7 x -9 = -63
8 x -9 = -72
9 x -9 = -81
10 x -9 = -90

# Use of IF & BREAK (Function)

In [27]:
table=int(input("which number table do you want:"))
start=int(input("from where should i start: "))
end=int(input("how high should i go: "))

for number in range(start,end+1,1):
    table1=number*table
    print(table,"x",number,"=",table1)
    if number==end:
        break      #WE USE BREAK TO TERMINATE THE LOOP AT THAT VALUE
                    #CAN ALSO USE IN BETWEEN BLOCK OF WHILE CODE
else:
    print("invalid number")

which number table do you want:3
from where should i start: 1
how high should i go: 15
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
3 x 13 = 39
3 x 14 = 42
3 x 15 = 45

# USE of IF & CONTINUE (Function)

In [22]:
table=int(input("which number table do you want:"))
start=int(input("from where should i start: "))
end=int(input("how high should i go: "))

for number in range(start,end+1,1):
    if number==10:
        continue      #WE USE CONTINUE TO SKIP ITERATION AT THAT VALUE (10th iteration)
    table1=number*table
    print(number,"x",table,"=",table1)
    if number>end:
        break

which number table do you want:3
from where should i start: 1
how high should i go: 18
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
11 x 3 = 33
12 x 3 = 36
13 x 3 = 39
14 x 3 = 42
15 x 3 = 45
16 x 3 = 48
17 x 3 = 51
18 x 3 = 54

In [ ]:
limit = int(input("Enter limit of repetition:"))
s = input("Enter symbol:")
for i in range(limit):
    if i == 0:
        print(s,s)
    else:
        z = " "
        print(s," ",s)

# VALIDATED PROGRAM OF FOR LOOP

In [25]:
x = int(input("Enter number:"))
s = input("Enter symbol")
for i in range(x):
    z = x-i
    print(z*s)
else:
    print("enter correct number")

Enter number:6
Enter symbol*
******
*****
****
***
**
*
enter correct number

# My Version of calculator

In [ ]:
MAX=int(input("How many time you want to do it: \n"))
total=0.0
for counter in range(MAX):
    number=int(input("Enter a number: \n"))
    number1=int(input("Enter the 2nd number: \n"))
    operation=input("What do you want to do: \n1.FOR SUM PRESS +\n2.FOR SUBTRACTION PRESS -\n3.For multiplication press *\n4.For divition press/ \n")
    if operation=='+':
        total1=total+(number+number1)
        print(total1)
    else:
        if operation=='-':
            total1=total+(number-number1)
            print(total1)
        else:
            if operation=='*':
                total1=total+(number*number1)
                print(total1)  
            else:
                if operation=='/':
                    total1=total+(number/number1)
                    print(total1)

How many time you want to do it:
8
Enter a number:
5
Enter the 2nd number:
3
What do you want to do:
1.FOR SUM PRESS +
2.FOR SUBTRACTION PRESS -
3.For multiplication press *
4.For divition press/
/
1.6666666666666667
Enter a number:
15
Enter the 2nd number:
10
What do you want to do:
1.FOR SUM PRESS +
2.FOR SUBTRACTION PRESS -
3.For multiplication press *
4.For divition press/
+
25.0