In [8]:
# PATTERN 1      ( FOR DIFFERENT NUMBR OF ROWS & COLUMNS )

for x in range(1,6):
    for y in range(1,8):
        print("#",end=" ")
    print()

# # # # # # #
# # # # # # #
# # # # # # #
# # # # # # #
# # # # # # #

In [10]:
# PATTERN 1      ( FOR SAME NUMBR OF ROWS & COLUMNS )

for x in range(1,6):
    print("# "*6)

# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #

In [15]:
# PATTERN 2

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(i,end=" ")
    print()

Enter the number of rows: 6
1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5 5
6 6 6 6 6 6

In [14]:
# PATTERN 3

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(j,end=" ")
    print()

Enter the number of rows: 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [13]:
# PATTERN 4

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(64+i),end=" ")
    print()

Enter the number of rows: 6
A A A A A A
B B B B B B
C C C C C C
D D D D D D
E E E E E E
F F F F F F

In [12]:
# PATTERN 5

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(64+j),end=" ")
    print()

Enter the number of rows: 6
A B C D E F
A B C D E F
A B C D E F
A B C D E F
A B C D E F
A B C D E F

In [17]:
# PATTERN 6

n=int(input("Enter the last number: "))
for x in range(n,0,-1):
    for y in range(n,0,-1):
        print(x,end=" ")
    print()

Enter the last number: 8
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7 7
6 6 6 6 6 6 6 6
5 5 5 5 5 5 5 5
4 4 4 4 4 4 4 4
3 3 3 3 3 3 3 3
2 2 2 2 2 2 2 2
1 1 1 1 1 1 1 1

In [18]:
# PATTERN 6.1      ( ANOTHER METHOD )

n=int(input("Enter the number of rows: ")) 
for i in range(1,n+1): 
    for j in range(1,n+1): 
        print(n+1-i,end=" ")
    print()

Enter the number of rows: 8
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7 7
6 6 6 6 6 6 6 6
5 5 5 5 5 5 5 5
4 4 4 4 4 4 4 4
3 3 3 3 3 3 3 3
2 2 2 2 2 2 2 2
1 1 1 1 1 1 1 1

In [19]:
# PATTERN 6.2

n=int(input("Enter the last number: "))
for x in range(n,0,-1):
    for y in range(n,0,-1):
        print(y,end=" ")
    print()

Enter the last number: 7
7 6 5 4 3 2 1
7 6 5 4 3 2 1
7 6 5 4 3 2 1
7 6 5 4 3 2 1
7 6 5 4 3 2 1
7 6 5 4 3 2 1
7 6 5 4 3 2 1

In [27]:
# PATTERN 7.1

n=int(input("Enter the last number: "))
for x in range(n,0,-1):
    for y in range(n,0,-1):
        print(chr(64+x),end=" ")
    print()

Enter the last number: 8
H H H H H H H H
G G G G G G G G
F F F F F F F F
E E E E E E E E
D D D D D D D D
C C C C C C C C
B B B B B B B B
A A A A A A A A

In [29]:
# PATTERN 7.2   ANOTHER METHOD(SIR)

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(65+n-i),end=" ")
    print()

Enter the number of rows: 6
F F F F F F
E E E E E E
D D D D D D
C C C C C C
B B B B B B
A A A A A A

In [30]:
# PATTERN 8

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(65+n-j),end=" ")
    print()

Enter the number of rows: 7
G F E D C B A
G F E D C B A
G F E D C B A
G F E D C B A
G F E D C B A
G F E D C B A
G F E D C B A

In [34]:
# PATTERN 9

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):          #IMP THING IS i+1 ADDITION IN RANGE
        print("*",end=" ")
    print()

Enter the number of rows: 7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [35]:
# PATTERN 9.  ANOTHER METHOD

n=int(input("Enter the number of rows:"))
for i in range(1,n+1):
    print("* "*i)

Enter the number of rows:6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [2]:
#PATTERN 11
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):          #IMP THING IS i+1 ADDITION IN RANGE
        print(i,end=" ")
    print()

Enter the number of rows: 6
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [1]:
#PATTERN 11  

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):          #IMP THING IS i+1 ADDITION IN RANGE
        print(j,end=" ")
    print()

Enter the number of rows: 6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [4]:
#PATTERN 12

n=int(input("enter rows length: "))
for x in range(1,n+1):
    for y in range(1,x+1):
        print(chr(64+x),end="")
    print()

enter rows length: 6
A
BB
CCC
DDDD
EEEEE
FFFFFF

In [5]:
#PATTERN 13

n=int(input("enter rows length: "))
for x in range(1,n+1):
    for y in range(1,x+1):
        print(chr(64+y),end="")
    print()

enter rows length: 6
A
AB
ABC
ABCD
ABCDE
ABCDEF

In [9]:
#PATTERN 14

n=int(input("enter rows: "))
for x in range(1,n+1):
    print("*"*(n-x))

enter rows: 6
*****
****
***
**
*

In [12]:
#PATTERN 14       ANOTHER METHOD

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print("*",end="")
    print()

Enter the number of rows: 6
******
*****
****
***
**
*

In [18]:
#PATTERN 15

n=int(input("enter rows: "))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(i,end="")
    print()

enter rows: 7
1111111
222222
33333
4444
555
66
7

In [19]:
#PATTERN 16

n=int(input("enter rows: "))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(j,end="")
    print()

enter rows: 7
1234567
123456
12345
1234
123
12
1

In [20]:
#PATTERN 17

n=int(input("enter rows length: "))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(chr(64+i),end="")
    print()

enter rows length: 7
AAAAAAA
BBBBBB
CCCCC
DDDD
EEE
FF
G

In [21]:
#PATTERN 18

n=int(input("enter rows length: "))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(chr(64+j),end="")
    print()

enter rows length: 7
ABCDEFG
ABCDEF
ABCDE
ABCD
ABC
AB
A

In [25]:
#PATTERN 19

n=int(input("enter rows length: "))
for x in range(1,n+1):
    for y in range(1,n+2-x):
        print(n+1-x,end="")
    print()

enter rows length: 7
7777777
666666
55555
4444
333
22
1

In [27]:
#PATTERN 20

n=int(input("enter rows length: "))
for x in range(1,n+1):
    for y in range(1,n+2-x):
        print(n+1-y,end="")
    print()

enter rows length: 7
7654321
765432
76543
7654
765
76
7

In [30]:
#PATTERN 21

n=int(input("enter rows length: "))
for x in range(1,n+1):
    for y in range(1,n+2-x):
        print(chr(65+n-x),end="")
    print()

enter rows length: 8
HHHHHHHH
GGGGGGG
FFFFFF
EEEEE
DDDD
CCC
BB
A

In [31]:
#PATTERN 22

n=int(input("enter rows length: "))
for x in range(1,n+1):
    for y in range(1,n+2-x):
        print(chr(65+n-y),end="")
    print()

enter rows length: 8
HGFEDCBA
HGFEDCB
HGFEDC
HGFED
HGFE
HGF
HG
H

In [2]:
#PATTERN 23.a

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),"*"*i,end=" ")
    print()

Enter the number of rows: 5
     *
    **
   ***
  ****
 *****

In [8]:
#PATTERN 23.b

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n),"*"*i,end=" ")
    print()

Enter the number of rows: 5
      *
      **
      ***
      ****
      *****

In [11]:
#PATTERN 24

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),"* "*i,end=" ")
    print()

Enter the number of rows: 5
     *
    * *
   * * *
  * * * *
 * * * * *

In [12]:
#PATTERN 24

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print("*",end=" ")
    print()

Enter the number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [18]:
#PATTERN 25

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),(str(i)+" ")*i)
#     print()

Enter the number of rows: 5
     1
    2 2
   3 3 3
  4 4 4 4
 5 5 5 5 5

In [19]:
n = int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(' '*(n-i),((str(i))*i))
    print()

Enter the number of rows: 5
     1

    22

   333

  4444

 55555

In [25]:
#PATTERN 26

n=int(input("enter row length: "))
for x in range(1,n+1):
    print(" "*(n-x),end="")
    for y in range(1,x+1):
        print(y,end=" ")
    print()

enter row length: 5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [29]:
#PATTERN 27

n=int(input("enter row length: "))
for x in range(1,n+1):
    print(" "*(n-x),(chr(64+x)+" ")*x)
#     print()

enter row length: 6
      A
     B B
    C C C
   D D D D
  E E E E E
 F F F F F F

In [33]:
#PATTERN 28

n=int(input("enter row length: "))
for x in range(1,n+1):
    print(" "*(n-x),end="")
    for y in range(1,x+1):
        print(chr(64+y),end=" ")
    print()

enter row length: 5
    A
   A B
  A B C
 A B C D
A B C D E

In [1]:
#PATTERN 30

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(i-1),str(i)*(n+1-i))

Enter the number of rows: 5
 11111
  2222
   333
    44
     5

In [2]:
#PATTERN 30.b

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(i-1),str(n+1-i)*(n+1-i))

Enter the number of rows: 4
 4444
  333
   22
    1

In [ ]:
#PATTERN 31
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(i-1),end=' ')
    for j in range(1,n+2-i):
        print(j,end="")
    print()

In [3]:
#PATTERN 30.c

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(i-1),(str(n+1-i)+" ")*(n+1-i))

Enter the number of rows: 5
 5 5 5 5 5
  4 4 4 4
   3 3 3
    2 2
     1

In [4]:
#PATTERN 31
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(i-1),end="")
    for j in range(1,n+2-i):
        print(j,end=" ")
    print()

Enter the number of rows: 5
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [6]:
#PATTERN 32
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(i-1),(str(chr(65+n-i))+" ")*(n+1-i))

Enter the number of rows: 5
 E E E E E
  D D D D
   C C C
    B B
     A

In [7]:
#PATTERN 32
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(i-1),(str(chr(65+n-i)))*(n+1-i))

Enter the number of rows: 6
 FFFFFF
  EEEEE
   DDDD
    CCC
     BB
      A

In [8]:
#PATTERN 33

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(i-1),end="")
    for j in range(65,66+n-i):
        print(chr(j),end=" ")
    print()

Enter the number of rows: 5
A B C D E
 A B C D
  A B C
   A B
    A

In [ ]:
#PATTERN 33

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(i-1),end="")
    for j in range(65,66+n-i):
        print(chr(j),end="")
    print()

In [10]:
#PATTERN 35
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),(str(i))*(2*i-1))

Enter the number of rows: 5
     1
    222
   33333
  4444444
 555555555

In [9]:
#PATTERN 36
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),(str(chr(64+i)))*(2*i-1))

Enter the number of rows: 6
      A
     BBB
    CCCCC
   DDDDDDD
  EEEEEEEEE
 FFFFFFFFFFF

In [11]:
#PATTERN 37
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),(str(chr(64+2*i-1)))*(2*i-1))

Enter the number of rows: 5
     A
    CCC
   EEEEE
  GGGGGGG
 IIIIIIIII

In [12]:
#PATTERN 37
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),(str(chr(64+3*i-1)))*(2*i-1))

Enter the number of rows: 5
     B
    EEE
   HHHHH
  KKKKKKK
 NNNNNNNNN

In [13]:
#PATTERN 38
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,2*i):
        print(j,end="")
    print()

Enter the number of rows: 5
    1
   123
  12345
 1234567
123456789

In [14]:
#PATTERN 39.a
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(2*i-1,0,-1):
        print(j,end="")
    print()

Enter the number of rows: 5
    1
   321
  54321
 7654321
987654321

In [15]:
#PATTERN 39.b
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(2*i,1,-1):
        print(j,end="")
    print()

Enter the number of rows: 5
    2
   432
  65432
 8765432
1098765432

In [16]:
#PATTERN 39.c

n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(2*i,0,-1):
        print(j,end="")
    print()

Enter the number of rows: 5
    21
   4321
  654321
 87654321
10987654321

In [ ]:
#PATTERN 40
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(65,65+2*i-1):
        print(chr(j),end="")
    print()

In [ ]:
#PATTERN 41
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(65+2*i-2,64,-1):
        print(chr(j),end="")
    print()

In [17]:
#PATTERN 42
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i):
        print(i-j,end="")
    for k in range(0,i):
        print(k,end="")
    print()

Enter the number of rows: 5
    0
   101
  21012
 3210123
432101234

In [29]:
#PATTERN 43
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i):
        print(chr(i-j+65),end="")
    for k in range(0,i):
        print(chr(k+65),end="")
    print()

Enter the number of rows: 5
    A
   BAB
  CBABC
 DCBABCD
EDCBABCDE

In [28]:
#PATTERN 44
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(j,end="")
    for k in range(i-1,0,-1):
        print(k,end="")
    print()

Enter the number of rows: 5
    1
   121
  12321
 1234321
123454321

In [27]:
#PATTERN 45
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(chr(64+j),end="")
    for k in range(1,i):
        print(chr(64+k),end="")
    print()

Enter the number of rows: 5
    A
   ABA
  ABCAB
 ABCDABC
ABCDEABCD

In [26]:
#PATTERN 46.A
n=int(input("Enter a number:"))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(n+1-j,end="")
    print()

Enter a number:5
    5
   54
  543
 5432
54321

In [25]:
#PATTERN 46.B
n=int(input("Enter a number:"))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(n-j+1,end=" ")
    print()

Enter a number:5
    5
   5 4
  5 4 3
 5 4 3 2
5 4 3 2 1

In [22]:
#PATTERN 47.a
num=int(input("Enter a number:"))
for i in range(1,num+1):
    print(" "*(i-1),end="")
    for j in range(1,num+2-i):
        print("*",end=" ")
    for k in range(1,num+1-i):
        print("*",end=" ")
    print()

Enter a number:5
* * * * * * * * *
 * * * * * * *
  * * * * *
   * * *
    *

In [23]:
#PATTERN 47.b
num=int(input("Enter a number:"))
for i in range(1,num+1):
    print(" "*(i-1),end="")
    for j in range(1,num+2-i):
        print("*",end="")
    for k in range(1,num+1-i):
        print("*",end="")
    print()

Enter a number:5
*********
 *******
  *****
   ***
    *

In [24]:
#PATTERN 47.c
num=int(input("Enter a number:"))
for i in range(1,num+1):
    print(" "*(i-1),end="")
    for j in range(1,num+2-i):
        print("*",end=" ")
    print()

Enter a number:5
* * * * *
 * * * *
  * * *
   * *
    *

In [21]:
#PATTERN 48.a
num=int(input("Enter a number:"))
for i in range(1,num+1):
    print(" "*(i-1),end="")
    for j in range(0,num+1-i):
        print(num+1-i,end="")
    for k in range(1,num+1-i):
        print(num+1-i,end="")
    print()

Enter a number:5
555555555
 4444444
  33333
   222
    1

In [20]:
#PATTERN 48.b
num=int(input("Enter a number:"))
for i in range(1,num+1):
    print(" "*(i-1),end="")
    for j in range(0,num+2-i):
        print(num+1-i,end="")
    for k in range(1,num-i+1):
        print(num+1-i,end="")
    print()

Enter a number:5
5555555555
 44444444
  333333
   2222
    11

In [19]:
#PATTERN 49

num=int(input("Enter a number:"))
for i in range(1,num+1):
    print(" "*(i-1),end="")
    for j in range(0,num+1-i):
        print(2*num+1-2*i,end="")
    for k in range(1,num+1-i):
        print(2*num+1-2*i,end="")
    print()

Enter a number:5
999999999
 7777777
  55555
   333
    1

In [18]:
#PATTERN 50
num=int(input("Enter a number:"))
for i in range(1,num+1):
    print(" "*(i-1),end="")
    for j in range(1,num+2-i):
        print(j,end="")
    for k in range(2,num+2-i):
        print(num+k-i,end="")
    print()

Enter a number:5
123456789
 1234567
  12345
   123
    1