# ALGORITHM WORKBENCH

In [2]:
# 1.

total=0
while True:
    num=float(input("Enter a number: "))
    product=num*10
    total+=product
    print(total)
    if total>100:
        break

Enter a number: 45
450.0

In [ ]:
#. 2

repeat="Y"
while repeat=="y" or repeat=="Y":
#     num1=float(input("Enter 1st number: "))
#     num2=float(input("Enter 2nd number: "))
#     print(num1+num2)
    print("The sum is : ",float(input("Enter 1st number: "))+float(input("Enter 2nd number: ")))
    repeat=input("Do u want to repeat~ Press Y or N:")
    if repeat=="Y" or repeat=="y":
        None
    else:
        print("Enter correct command")

Enter 1st number: 5
Enter 2nd number: 6
The sum is :  11.0
Do u want to repeat~ Press Y or N:y
Enter 1st number: 7
Enter 2nd number: 8
The sum is :  15.0

In [5]:
#. 3

for i in range(100+1):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [1]:
#.4
text=""
while True:
    text+=input("Enter word: ")
    if len(text)>=10:
        print(text)
        break
    else:
        None

Enter word: ert
Enter word: tip
Enter word: dfgj
erttipdfgj

In [2]:
#.5
for x in range(1,30+1):
#     print(x)
for y in range(30,0,-1):
#     print(y)
#     print(f"{x/y:2f}")
# print(x/y)

IndentationError: expected an indented block after 'for' statement on line 2 (2776028837.py, line 4)

In [12]:
#BARD
total = 0
for i in range(1, 31):
  total += i / (31 - i + 1)

print(f"The sum of the series is: {total}")

The sum of the series is: 66.87184625396864

In [14]:
#BLACKBOX
# initialize the counter and total variables
counter = 1
total = 0

# while loop continues until the counter is greater than 30
while counter <= 30:
    total += counter / (30 - counter + 1)
    counter += 1

print("The total of the series is", total)

The total of the series is 93.84460105853213

In [24]:
#.5 CHECK IT ANSWER  (MINE)
x=1
y=30
count=1
sum0=0
while count<=30:
    z=x/y
#     print(f"{z:2f}")
    x0=str(x)
    y0=str(y)
    print(x0,"/",y0,"+ ",end='')
    
    sum0+=z
    x+=1
    y-=1
    count+=1
print()
print(f"The Total Sum Of Series Is: {sum0}")

1 / 30 + 2 / 29 + 3 / 28 + 4 / 27 + 5 / 26 + 6 / 25 + 7 / 24 + 8 / 23 + 9 / 22 + 10 / 21 + 11 / 20 + 12 / 19 + 13 / 18 + 14 / 17 + 15 / 16 + 16 / 15 + 17 / 14 + 18 / 13 + 19 / 12 + 20 / 11 + 21 / 10 + 22 / 9 + 23 / 8 + 24 / 7 + 25 / 6 + 26 / 5 + 27 / 4 + 28 / 3 + 29 / 2 + 30 / 1 +
The Total Sum Of Series Is: 93.84460105853213

In [3]:
#.7for 
x=1
y=10
for i in range(x,y+1):
    for j in range(x,y+1):
        print(f"{i} x {j} = {i*j}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [1]:
#.8
while True:
    x=int(input("\nEnter Positive Non-Zero Number: "))
    if x<=0:
        print("\nEnter Correct Number Again.")
        continue
    else:
        print(x)
        break

Enter Positive Non-Zero Number: 0

Enter Correct Number Again.

Enter Positive Non-Zero Number: -5

Enter Correct Number Again.

Enter Positive Non-Zero Number: 56
56

In [4]:
#.9
while True:
    x=int(input("\nEnter Number From 1-100: "))
    if x<1 or x>100:
        print("\nEnter Correct Number Again.")
        continue
    else:
        print(x)
        break

Enter Number From 1-100: 450

Enter Correct Number Again.

Enter Number From 1-100: -9

Enter Correct Number Again.

Enter Number From 1-100: 0

Enter Correct Number Again.

Enter Number From 1-100: 56
56

#

# PROGRAMMING EXERCISE

In [1]:
#1.BUG COLLECTOR   (WHILE)
count=1
total=0
while count<=5:
    print("Enter bug collected on day-",count,": ")
    bugs=int(input())
    total+=bugs
    count+=1
    

print("Total bugs: ",total)

Enter bug collected on day- 1 :
5
Enter bug collected on day- 2 :
2
Enter bug collected on day- 3 :
4
Enter bug collected on day- 4 :
6
Enter bug collected on day- 5 :
8
Total bugs:  25

In [5]:
#1.BUG COLLECTOR   (FOR)

days=5
total=0
for i in range(1,days+1):
    print("Enter the bugs collected at days",i)
    bug=int(input())
    total+=bug
print("Total bugs collected are ",total)

Enter the bugs collected at days 1
5
Enter the bugs collected at days 2
5
Enter the bugs collected at days 3
5
Enter the bugs collected at days 4
5
Enter the bugs collected at days 5
5
Total bugs collected are  25

In [3]:
#2.CALORIE BURNED  (FOR)
calorie=4.2
for x in range(10,30+1,5):
    z=x*4.2
    print(z)

42.0
63.0
84.0
105.0
126.0

In [7]:
#2.CALORIE BURNED    (WHILE)
count=10
print("Minute\tCalorie Burned")
print("------------------------")
while count<=30:
    calorie=4.2
    calorietotal=4.2*count
    print(count,"\t  ",calorietotal)
    count+=5

Minute	Calorie Burned
------------------------
10 	   42.0
15 	   63.0
20 	   84.0
25 	   105.0
30 	   126.0

# YAR GUL METHOD

In [2]:
#3.LAP TIMES    (WHILE)
total=0
slowest=0
fastest=0
count=1
lap=int(input("Enter no of lap"))
while count<=lap:
    print("Enter the time for",count,"lap")
    time=int(input())
    total+=time
    if time>slowest:
        slowest=time
    if fastest==0:
        fastest=time
    else:
        if time<fastest:
            fastest=time
            
    count+=1
  
        
        
avg=total/lap
print(total)
print(avg)

print("Fastest lap",fastest)
print("Slowest lap",slowest)

Enter no of lap3
Enter the time for 1 lap
2
Enter the time for 2 lap
4
Enter the time for 3 lap
0
6
2.0
Fastest lap 0
Slowest lap 4

# SIR METHOD  (DRY RUN IT)

In [1]:
#3. LAP TIME  (WHILE)
slowest=fastest=total=0
count=1
lap=int(input("Enter the number of total laps"))
while count<=lap:
    print("Enter time for ",count)
    time=int(input())
    if count==1:
        fastest=time
        slowest=time
    if fastest>time:
        fastest=time
    if slowest<time:
        slowest=time
    count+=1
    total+=time
    
avg=total/3
print("average: ",avg)
print("Fastest lap: ",fastest)
print("Slowest lap: ",slowest)

Enter the number of total laps5
Enter time for  1
10
Enter time for  2
20
Enter time for  3
30
Enter time for  4
40
Enter time for  5
50
average:  50.0
Fastest lap:  10
Slowest lap:  50

In [2]:
#3. LAP TIME  (FOR)

slowest=fastest=total=0
lap=int(input("enter no of laps"))
for i in range(1,lap+1):
    print("Enter time for ",i)
    time=int(input())
    if i==1:
        fastest=time
        slowest=time
    if fastest>time:
        fastest=time
    if slowest<time:
        slowest=time
    total+=time
    
avg=total/3
print("average: ",avg)
print("Fastest lap: ",fastest)
print("Slowest lap: ",slowest)

enter no of laps4
Enter time for  1
10
Enter time for  2
20
Enter time for  3
30
Enter time for  4
30
average:  30.0
Fastest lap:  10
Slowest lap:  30

In [3]:
#4.DISTANCE TRAVELLED   (FOR)


time=int(input("For how much hours it travelled: "))
speed=int(input("Enter the speed in mph: "))
# distance=speed*time
print("\nHour\tDistance Travelled")
print("-------------------------")
for x in range(1,time+1,1):    
    print(x,"\t",x*speed)

enter the speed in mph50
how much hour it travelled4

Hour	Distance Travelled
-------------------------
1 	 50
2 	 100
3 	 150
4 	 200

In [4]:
#4.DISTANCE TRAVELLED  (WHILE)

time=int(input("For how much hour it travelled"))
speed=int(input("Enter the speed in mph"))
count=1
print("\nHour\tDistance Travelled")
print("-------------------------")
while count<=time:
    distance=speed*count
    print(count,"\t ",distance)
    count+=1

how much hour it travelled4
enter the speed in mph50

Hour	Distance Travelled
-------------------------
1 	  50
2 	  100
3 	  150
4 	  200

In [19]:
#5.AVERAGE RAINFALL (WHILE)

count=1
#Q1=Q2=Q3=Q4=0
#Q1,Q2,Q3,Q4=0,0,0,0
total1=0
total2=0
total3=0
total4=0
while count<=12:
    print("Enter",count,"months rainfall")
    rainfall=float(input())
    if count<=3:
        total1+=rainfall
    elif count<=6:
        total2+=rainfall
    elif count<=9:
        total3+=rainfall
    else:
        total4+=rainfall
    
    count+=1
    
    
avg1=total1/3
avg2=total2/3
avg3=total3/3
avg4=total4/3
    
print("1st quarter rainfall average: ",avg1)
print("2nd quarter rainfall average: ",avg2)
print("3rd quarter rainfall average: ",avg3)
print("4th quarter rainfall average: ",avg4)

print("--------------------------------------")

       
if avg1<avg2 and avg1<avg3 and avg1<avg4:
     print("1st quarter is lowest.")
elif avg2<avg1 and avg2<avg3 and avg2<avg4:
     print("2nd quarter is lowest.")
elif avg3<avg1 and avg3<avg2 and avg3<avg4:
     print("3rd quarter is lowest.")
elif avg4<avg1 and avg4<avg2 and avg4<avg3:
     print("4th quarter is lowest.")
        
if avg1>avg2 and avg1>avg3 and avg1>avg4 :
     print("1st quarter is greatest.")
elif avg2>avg1 and avg2>avg3 and avg2>avg4:
     print("2nd quarter is greatest.")
elif avg3>avg1 and avg3>avg2 and avg3>avg4:
     print("3rd quarter is greatest.")
elif avg4>avg1 and avg4>avg2 and avg4>avg3:
     print("4th quarter is greatest.")

#THROUGH FUNCTON

# def islesser (a,b,c,d):
#     if a < b and a < c and a<d:
#         print("first quarter is lowest")
#     elif b < a and b < c and b<d:
#         print("2nd quarter is lowest")
#     elif c < a and c < b and c<d:
#         print("3rd quarter is lowest")
#     elif d < b and d < c and d<a:
#         print("forth quarter is lowest")
    
# def isgreater (a,b,c,d):
#     if a > b and a>c and a>d:
#         print("first quarter is greatest")
#     elif b > a and b > c and b>d:  
#         print("second quarter is greatest")
#     elif c > a and c > b and c>d:
#         print("3rd quarter is greatest")
#     elif d > b and d > c and d>a:
#         print("forth quarter is greatest")


# a=avg1
# b=avg2
# c=avg3
# d=avg4

# islesser(a,b,c,d)
# isgreater(a,b,c,d)


# a=40
# b=30
# c=100
# d=5
# islesser(a,b,c,d)
# isgreater(a,b,c,d)

In [5]:
#5.AVERAGE RAINFALL  (FOR)

#Q1=Q2=Q3=Q4=0
#Q1,Q2,Q3,Q4=0,0,0,0
total1=total2=total3=total4=0
for x in range(1,12+1):
    print("Enter",x,"months rainfall")
    rainfall=float(input())
    if x<=3:
        total1+=rainfall
    elif x<=6:
        total2+=rainfall
    elif x<=9:
        total3+=rainfall
    else:
        total4+=rainfall
    

avg1=total1/3
avg2=total2/3
avg3=total3/3
avg4=total4/3
    
print("1st quarter rainfall average: ",avg1)
print("2nd quarter rainfall average: ",avg2)
print("3rd quarter rainfall average: ",avg3)
print("4th quarter rainfall average: ",avg4)

print("--------------------------------------")

       
if avg1<avg2 and avg1<avg3 and avg1<avg4:
     print("1st quarter is lowest.")
elif avg2<avg1 and avg2<avg3 and avg2<avg4:
     print("2nd quarter is lowest.")
elif avg3<avg1 and avg3<avg2 and avg3<avg4:
     print("3rd quarter is lowest.")
elif avg4<avg1 and avg4<avg2 and avg4<avg3:
     print("4th quarter is lowest.")
        
if avg1>avg2 and avg1>avg3 and avg1>avg4 :
     print("1st quarter is greatest.")
elif avg2>avg1 and avg2>avg3 and avg2>avg4:
     print("2nd quarter is greatest.")
elif avg3>avg1 and avg3>avg2 and avg3>avg4:
     print("3rd quarter is greatest.")
elif avg4>avg1 and avg4>avg2 and avg4>avg3:
     print("4th quarter is greatest.")

Enter 1 months rainfall
20
Enter 2 months rainfall
20
Enter 3 months rainfall
20
Enter 4 months rainfall
30
Enter 5 months rainfall
30
Enter 6 months rainfall
30
Enter 7 months rainfall
10
Enter 8 months rainfall
10
Enter 9 months rainfall
10
Enter 10 months rainfall
50
Enter 11 months rainfall
50
Enter 12 months rainfall
50
1st quarter rainfall average:  20.0
2nd quarter rainfall average:  30.0
3rd quarter rainfall average:  10.0
4th quarter rainfall average:  50.0
--------------------------------------
3rd quarter is lowest.
4th quarter is greatest.

In [20]:
#6. MILES TO KM TABLE  (FOR)

print("Miles\t KM")
print("------------")
total=0
for x in range(10,80+1,10):
    mile=1.609*10
    total+=mile
    print(x,"\t",format(total,'.2f')) #TOOK .2F FOR RONDING OF TO 2 DIGITS

Miles	 KM
------------
10 	 16.09
20 	 32.18
30 	 48.27
40 	 64.36
50 	 80.45
60 	 96.54
70 	 112.63
80 	 128.72

In [23]:
#6. MILES TO KM TABLE  (WHILE)

count=10
print("Miles\t KM")
print("------------")
while count<=80:
    mile=1.609*count
    print(count,"\t",format(mile,'.2f'))
    count+=10

Miles	 KM
------------
10 	 16.09
20 	 32.18
30 	 48.27
40 	 64.36
50 	 80.45
60 	 96.54
70 	 112.63
80 	 128.72

# DRY RUN IT

In [9]:
#7.PENNIES FOR PAY (WHILE)  (YARGUL)  

count=1
day=int(input("enter no of days"))
total=0
while count<=day:
    if count==1:
        total+=1
        print("Pay for day",count,"is:",total)
    else:
        total*=2
        print("Pay for day",count,"is:",total)
    count+=1
total+=total-1
print(total)
dollar=total/100
print("Total Dollar",dollar)

enter no of days5
Pay for day 1 is: 1
Pay for day 2 is: 2
Pay for day 3 is: 4
Pay for day 4 is: 8
Pay for day 5 is: 16
31
Total Dollar 0.31

In [8]:
#7.PENNIES FOR PAY     (FOR)

days=int(input("Enter the no of days: "))
total=0
print("Days\tAmount")
print("-------------")
for x in range(1,days+1,1):
    if x==1:
        total+=1
        print("Pay for day",x,"is:",total)
    else:
        total*=2
        print("Pay for day",x,"is:",total)
#     pay=x*x
#     dollar=pay/100
#     print(x,"\t",dollar)
total+=total-1
print(total)
dollar=total/100
print("Total Dollar",dollar)

Enter the no of days: 5
Days	Amount
-------------
Pay for day 1 is: 1
Pay for day 2 is: 2
Pay for day 3 is: 4
Pay for day 4 is: 8
Pay for day 5 is: 16
31
Total Dollar 0.31

# CHECK IT

In [10]:
#8.Average word length

count='a'
total=0
iteration=0
# word=input("enter a word")
while count!=' ':
    word=input("Enter a word or press space to end: ")
    if word==' ':
        break
    wordlen=len(word)
    total+=wordlen
    iteration+=1
    
    
 
    
print(f"The total len of the word entered is {total}.")
avg=round(total/iteration)
# avg=total//iteration
print(f"the average length of the words entered is {avg}.")

Enter a word or press space to end: dgfhj
Enter a word or press space to end: fsdre
Enter a word or press space to end: asdf
Enter a word or press space to end:
The total len of the word entered is 14.
the average length of the words entered is 4.

In [1]:
#8.Average word length  (BLACKBOX)

def calculate_average_length():
    total_length = 0
    word_count = 0

    while True:
        word = input("Enter a word or press Enter to end: ")
        if word == "":
            break
        total_length += len(word)
        word_count += 1

    if word_count == 0:
        return 0
    else:
        return round(total_length / word_count)

average_length = calculate_average_length()
print(f"The average length of the words entered is {average_length}.")

Enter a word or press Enter to end: abc
Enter a word or press Enter to end: def
Enter a word or press Enter to end: ghi
Enter a word or press Enter to end: jkl
Enter a word or press Enter to end: mno
Enter a word or press Enter to end:
The average length of the words entered is 3.

In [10]:
#9.OCEAN LEVELS   (FOR)

year=25
for x in range(1,year+1):
    level=x*1.6
    print(x,"\t",format(level,'.1f'))

1 	 1.6
2 	 3.2
3 	 4.8
4 	 6.4
5 	 8.0
6 	 9.6
7 	 11.2
8 	 12.8
9 	 14.4
10 	 16.0
11 	 17.6
12 	 19.2
13 	 20.8
14 	 22.4
15 	 24.0
16 	 25.6
17 	 27.2
18 	 28.8
19 	 30.4
20 	 32.0
21 	 33.6
22 	 35.2
23 	 36.8
24 	 38.4
25 	 40.0

In [10]:
#9.OCEAN LEVELS     (WHILE)

count=0
time=25
total=0
while count<time:
    level=1.6
    total+=level
    count+=1
    print(count,'\t',format(total,'.1f'))

1 	 1.6
2 	 3.2
3 	 4.8
4 	 6.4
5 	 8.0
6 	 9.6
7 	 11.2
8 	 12.8
9 	 14.4
10 	 16.0
11 	 17.6
12 	 19.2
13 	 20.8
14 	 22.4
15 	 24.0
16 	 25.6
17 	 27.2
18 	 28.8
19 	 30.4
20 	 32.0
21 	 33.6
22 	 35.2
23 	 36.8
24 	 38.4
25 	 40.0

In [9]:
#10.TUITION INCREASES   (FOR)

total=0
print("Year\t   Fees")
print("-----------------")
for x in range(1,5+1,1):
    fee=16000*0.03*x
    fee1=16000+fee
#     total+=fee1
    
    print(x,"\t",fee1)

Year	   Fees
-----------------
1 	 16480.0
2 	 16960.0
3 	 17440.0
4 	 17920.0
5 	 18400.0

In [15]:
#10.TUITION INCREASES   (WHILE)

count=1
total=0
semester=10
year=5
print("Year\tFees")
print("------------i-------")
while count<=year:
        fee=16000*0.03*count
        fee1=16000+fee
            
        print(count,"\t",fee1)
        count+=1

Year	Fees
------------i-------
1 	 16480.0
2 	 16960.0
3 	 17440.0
4 	 17920.0
5 	 18400.0

In [1]:
#11.SLEEP DEBT 

total=0
count=1
while count<=7:
    print("Enter hour of sleep of days",count,":")
    sleep=int(input())
    total+=sleep
    count+=1
    
desireSleep=8*7
print("\nYour desired sleep is:",desireSleep,"hours")
print("\nYour actual sleep is:",total,"hours")
if total<desireSleep:
    print("\nYour sleep debt is: -",desireSleep-total,"hours")
else:
    print("\nJealousy")

Enter hour of sleep of days 1 :
8
Enter hour of sleep of days 2 :
9
Enter hour of sleep of days 3 :
6
Enter hour of sleep of days 4 :
5
Enter hour of sleep of days 5 :
7
Enter hour of sleep of days 6 :
8
Enter hour of sleep of days 7 :
6

Your desired sleep is: 56 hours

Your actual sleep is: 49 hours

Your sleep debt is: - 7 hours

In [8]:
#11.SLEEP DEBT    (FOR)

total=0
for x in range(1,7+1):
    print("Enter hour of sleep of days",x,":")
    sleep=int(input())
    total+=sleep
    
desireSleep=8*7
print("\nYour desired sleep is:",desireSleep,"hours")
print("\nYour actual sleep is:",total,"hours")
if total<desireSleep:
    print("\nYour sleep debt is: -",desireSleep-total,"hours")
else:
    print("\nJealousy")

Enter hour of sleep of days 1 :
8
Enter hour of sleep of days 2 :
9
Enter hour of sleep of days 3 :
6
Enter hour of sleep of days 4 :
5
Enter hour of sleep of days 5 :
7
Enter hour of sleep of days 6 :
8
Enter hour of sleep of days 7 :
6

Your desired sleep is: 56 hours

Your actual sleep is: 49 hours

Your sleep debt is: - 7 hours

In [11]:
#12.FACTORIAL  (WHILE)
total=1
num=int(input("enter the number"))
while num>=1:
    total*=num
    print(num,"x ",end='')
    num-=1
print("\n=",total)

enter the number7
7 x 6 x 5 x 4 x 3 x 2 x 1 x
= 5040

In [25]:
#12.FACTORIAL   (FOR)
total=1
num=int(input("enter the number"))
for x in range(1,num+1):
    total=total*x
#     print(total)
    print(x,end=' x ')
print("\n7! =",total)

enter the number7
1 x 2 x 3 x 4 x 5 x 6 x 7 x
7! = 5040

In [42]:
#13.POPULATION

no=int(input("Number of organisms: "))
avg=float(input("Enter growth average per day: "))
day=int(input("Enter the number of days: "))
count=1
total=0
while count<=day:
    if count==1:
        pop=no
        print(count,"\t",pop)
    elif count==2:       
        pop1=((count-1)*avg*no)+no  
        print(count,"\t",pop1)
        total+=pop1
    else:
        pop1=((count-1)*avg*total)+no
        total+=pop1
        print(count,"\t",total)
    count+=1

Number of organisms: 2
Enter growth average per day: 30
Enter the number of days: 5
1 	 2
2 	 62.0
3 	 3784.0
4 	 344346.0
5 	 41665868.0

In [49]:
#13.POPULATION

no=int(input("Number of organisms: "))
avg=float(input("Enter growth average per day: "))
day=int(input("Enter the number of days: "))
count=1
total=0
while count<=day:
    if count==1:
        pop=no
        print(count,"\t",pop)
    elif count>=2:       
        pop1=(no*(avg/100)+no)
        print(count,"\t",format(pop1,'.2f'))
        no=pop1
    count+=1

Number of organisms: 5
Enter growth average per day: 40
Enter the number of days: 5
1 	 5
2 	 7.00
3 	 9.80
4 	 13.72
5 	 19.21

In [31]:
#14.PATTERNS 

row=8
col=8
for i in range(row):
    for x in range(col-i):
        print('*',end='')
    print()

********
*******
******
*****
****
***
**
*

In [3]:
height=8
for r in range(height):
    for c in range(r+1):
        print('*',end='')
    print()

*
**
***
****
*****
******
*******
********

In [5]:
#15.PATTERN 


for i in range(6):
    if i==0:
        print("##")
    z=" "
    print('#',z*i,"#")

##
#  #
#   #
#    #
#     #
#      #
#       #